@use '../base/variables' as *;
@use '../base/mixins' as *;


.footer {
  display: flex;
  justify-content: center;
  max-width: 540px;
  margin: 0 auto;
  padding: .75rem;
  transition: background-color .5s ease;
  border-radius: .25rem;
  background-color: $dark-200;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: .9rem;
  gap: 1rem;

  @include mq('tablet-small') {
    font-size: 1.25rem;
  }

  &.light {
    background-color: $light-100;

    button {
      &:hover {
        color: $light-500;
      }
    }
  }

  button {
    border: none;
    background-color: transparent;
    color: $dark-500;
    cursor: pointer;

    &:hover {
      color: $dark-400;
    }

  }
  
  .selected {
    color: $primary-100;
  }
  
}