.header {
  justify-content: space-between;
  padding-block: 2rem;


  &__title {
    padding-top: 7.5px;
    font-size: 1.8rem;
    letter-spacing: 7px;
    line-height: 1;
  }

  &__icon {
    cursor: pointer;
  }
}