@use '../base/variables' as *;
@use '../base/mixins' as *;

body {

  background-color: $dark-100;
  background-image: url(../../../src/assets/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  
  color: $light-100;
  font-family: $font-main;
  
  @include mq('phone-small') {
    background-image: url(../../../src/assets/bg-desktop-dark.jpg);
    background-size: auto;
  }
}
