/* Colors */


$primary-100: hsl(220, 98%, 61%);
$check-background: linear-gradient(45deg, #57ddff, #c058f3);

$light-100: hsl(0, 0%, 98%);
$light-200: hsl(236, 33%, 92%);
$light-300: hsl(233, 11%, 84%);
$light-400: hsl(236, 9%, 61%);
$light-500: hsl(235, 19%, 35%);

$dark-100: hsl(235, 21%, 11%);
$dark-200: hsl(235, 24%, 19%);
$dark-300: hsl(234, 39%, 85%);
$dark-400 : hsl(236, 33%, 92%); 
$dark-500: hsl(234, 11%, 52%);
$dark-600: hsl(233, 14%, 35%);
$dark-700: hsl(237, 14%, 26%);

/* Fonts */
$font-main: 'Josefin Sans', sans-serif;

$breakpoints: (
    "phone-small":  375px,
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

$gap: "1rem";

$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 0.9375rem;
$fs-500: 1.75rem;
$fs-600: 1rem;
$fs-700: 1.5rem;
$fs-800: 3.5rem;
$fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;
$fs-6xl: 3.75rem;
$fs-7xl: 4.5rem;
$fs-8xl: 6rem;
$fs-9xl: 8rem;

@media (min-width: '560px') {
    $fs-400: 1rem;
    $fs-600: 1.5rem;
    $fs-700: 2.5rem;
    $fs-800: 5rem;
}

@media (min-width: 45rem) {
    $fs-400: 1.125rem;
    $fs-600: 2rem;
    $fs-700: 3.5rem;
    $fs-800: 6.25rem;
}